<h1>글 보기</h1>
<br><hr><br>

<div class="panel panel-default">
  <div class="panel-heading"><%= @post.title %></div>
  <div class="panel-body"><%= @post.content.html_safe %></div>
</div>
<div class="btn-group btn-group-justified">
  <%= link_to "수 정", edit_post_path, class: 'btn btn-default' %>
  <%= link_to "삭 제", post_path, method: 'delete', class: 'btn btn-default',data: {confirm: "정말로 삭제하시겠습니까?"} %>
</div>

<hr>

<h4>댓글</h4>
<br>

<% #TODO: Comment Input (form_for) %>

<% #TODO: Comments Show %>
